# Git ignore file for Nautic_app

# Ignore specific backend file
BackEnd/WeatherAPI.py

# Typical Python ignores
__pycache__/
*.py[cod]
*.egg-info/
.env
env/

# Node frontend
node_modules/
dist/
.vscode/